homebridge.local {
  reverse_proxy host.docker.internal:8581
}

pihole.local {
  reverse_proxy pihole:80
}

pi.local {
  rewrite /certs /certs/
  handle /certs/* {
    uri strip_prefix /certs
    root * /data/caddy/pki/authorities/local
    file_server
  }
}
