{% for site in local_proxied_hosts %}
{{ site.name }}.{{ local_domain }} {
  reverse_proxy {{ site.proxy.host | default(site.name, True) }}:{{ site.proxy.http }}

  log {
    level WARN
  }
}

{% endfor %}

{{ local_domain }} {
  handle / {
    respond "<h1>{{ local_domain }}</h1>"
    header Content-Type "text/html"
  }

  rewrite /certs /certs/

  handle /certs/* {
    uri strip_prefix /certs
    root * /data/caddy/pki/authorities/local
    file_server
  }

  log {
    level WARN
  }
}

http://localhost {
  respond /health 200
}
