{% for site in proxied_hosts %}
{{ site.name }}.local {
  reverse_proxy {{ site.http.host | default(site.name, True) }}:{{ site.http.port }}
  log {
    level WARN
  }
}

{% endfor %}

homelab.local {
  rewrite /certs /certs/
  handle /certs/* {
    uri strip_prefix /certs
    root * /data/caddy/pki/authorities/local
    file_server
  }
  log {
    level WARN
  }
}
