homebridge.local {
  reverse_proxy host.docker.internal:8581
  log {
    level WARN
  }
}

pihole.local {
  reverse_proxy pihole:80
  log {
    level WARN
  }
}

vmagent.local {
  reverse_proxy vmagent:8429
  log {
    level WARN
  }
}

cadvisor.local {
  reverse_proxy cadvisor:8080
  log {
    level WARN
  }
}

homelab.local {
  rewrite /certs /certs/
  handle /certs/* {
    uri strip_prefix /certs
    root * /data/caddy/pki/authorities/local
    file_server
  }
  log {
    level WARN
  }
}
